@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #E6FFFF;
}

h2 {
	text-align: center;
}

.boardBox {
	width: 80%;
	border: 1px solid #cccccc;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	background-color: #ffffff
}

.marginbt {
	margin-bottom: 20px;
}

.width10 {
	width: 10%;
}

.width80 {
	width: 80%;
}

ul li {
	list-style: none;
}

p {
	float: left;
}

.line {
	text-align: right;
}
.dn{
	display: none;
}