@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
html, body {margin: 0; padding: 0;}
.left {float: left;}
.right {float: right;}
h1 {padding: 5%; font-family: 'Nanum Pen Script', cursive; }
h2{font-family: 'Nanum Pen Script', cursive; font-size: 50px; text-align: center;}
section{min-height: 562px;}




footer {
  background-color: aliceblue;
  padding: 25px;
    text-align: center;
}

.foot_form {display: inline-block}



.M_image {
    -moz-transform:scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    
}
p {font-family: 'Jeju Hallasan', cursive; color: darkseagreen;}
/*  
*--------------------------------------------
* @media query
*--------------------------------------------
*/

/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    h2{font-size: 30px;}  
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h2{font-size: 40px;}  
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }